header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.inicio1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color: floralwhite;
    text-decoration: none;
}
.titulodeluxers{
    font-size: 50px;

}

aside{
    background-color: antiquewhite;

}

aside .buzoconestampa{
    margin: auto;
    display: block;
    width: 400px;
    transition: all 500ms ease;
    border: solid white 1px;
    align-items: center;
    justify-content: center;
}
.buzoclasictitulo{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    color: white;
    text-align: center;
    background-color: rgb(32, 32, 32);
}




aside img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.BOTONVER{
    width: 300px;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.derechos{
    text-align: center;
    padding: 50px;
    margin: 10px;
    border-radius: 1px, black;
    text-align: center;
}


@media (max-width: 600px){
    .buzoconestampa{
        flex-direction: column;
    }
}