header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h1{
    align-items: center;
    font-family: fantasy;
    text-align: center;
    margin: auto;
}
.buzoclasictitulo{
    border: 1px rgb(0, 0, 0) solid;
    padding: 30px;
    color: white;
    text-align: start;
    background-color: rgb(32, 32, 32);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

aside{
    background-color: antiquewhite;

}
aside .ropa1{
    align-items: center;
    justify-content: center;
    width: 350px;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 500ms ease;
    margin-left: 145px;
    
    
}

aside img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.BOTONVER{
    width: 300px;
    height: 50px;
    margin: 1rem auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.derechos{
    padding: 20px;
    margin: 10px;
    border-radius: 1px, black;
    text-align: center;
}
