header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulodeluxers{
    font-size: 50px;

}



.buzoclasictitulo{
    font-size: 30px;
    padding: 30px;
    color: white;
    text-align: center;
    background-color: rgb(32, 32, 32);
}

aside{
    background-color: antiquewhite;
}
aside img{
    margin: auto;
    display: block;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 350px;
}


aside img:hover{
    transform: scale(1.10);
    cursor: pointer;
}


.derechos{
    text-align: center;
    padding: 50px;
    margin: 10px;
    border-radius: 1px, black;
    text-align: center;
}


@media (max-width: 600px){
    .buzoconestampa{
        flex-direction: column;
    }
}