header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.inicio1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color: floralwhite;
    text-decoration: none;
}
.h1{
    align-items: center;
    font-family: fantasy;
    text-align: center;
    margin: auto;
}

.buzoclasictitulo{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px rgb(0, 0, 0) solid;
    padding: 30px;
    color: white;
    text-align: start;
    background-color: rgb(32, 32, 32);
}

aside{
    background-color: antiquewhite;

}

aside .ropa1{
    padding: 0px;
    width: 350px;
    transition: all 500ms ease;
    margin-left: 145px;
    
}
aside .ropa1 .img{
    text-align: center;
}
aside img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.BOTONVER{
    width: 300px;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.derechos{
    text-align: center;
    padding: 50px;
    margin: 10px;
    border-radius: 1px, black;
    text-align: center;
}
